<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preferences for Index Operations -->
    <!-- Will be used to hook on createIndex, refreshIndex, deleteIndex, bulk, etc... to make actions on Gally backend -->
    <!--<preference for="Smile\ElasticsuiteCore\Api\Index\IndexOperationInterface"
                type="Gally\ElasticsuiteBridge\Index\IndexOperation" />

    <preference for="Smile\ElasticsuiteCore\Api\Index\AsyncIndexOperationInterface"
                type="Gally\ElasticsuiteBridge\Index\AsyncIndexOperation" />-->

    <preference for="Smile\ElasticsuiteCore\Api\Index\Bulk\BulkRequestInterface"
                type="Gally\ElasticsuiteBridge\Index\Bulk\BulkRequest"/>


    <!-- Attribute Helper preferences to deal with new data structure -->
    <preference for="Smile\ElasticsuiteCatalog\Helper\ProductAttribute"
                type="Gally\ElasticsuiteBridge\Helper\ProductAttribute"/>

    <preference for="Smile\ElasticsuiteCatalog\Helper\CategoryAttribute"
                type="Gally\ElasticsuiteBridge\Helper\CategoryAttribute"/>


    <virtualType name="productAttributeHelper" type="Gally\ElasticsuiteBridge\Helper\AbstractAttribute">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Attribute\CollectionFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="categoryAttributeHelper" type="Gally\ElasticsuiteBridge\Helper\AbstractAttribute">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Category\Attribute\CollectionFactory</argument>
        </arguments>
    </virtualType>

    <type name="Gally\ElasticsuiteBridge\Helper\ProductAttribute">
        <arguments>
            <argument name="attributeHelper" xsi:type="object">productAttributeHelper</argument>
        </arguments>
    </type>

    <type name="Gally\ElasticsuiteBridge\Helper\CategoryAttribute">
        <arguments>
            <argument name="attributeHelper" xsi:type="object">categoryAttributeHelper</argument>
        </arguments>
    </type>
    <!-- End of Attribute Helper -->

    <!-- Datasource preferences, because data structure has to be different for Gally -->
    <preference for="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\AttributeData"
                type="Gally\ElasticsuiteBridge\Model\Product\Indexer\Fulltext\Datasource\AttributeData"/>

    <preference for="Smile\ElasticsuiteCatalog\Model\Category\Indexer\Fulltext\Datasource\AttributeData"
                type="Gally\ElasticsuiteBridge\Model\Category\Indexer\Fulltext\Datasource\AttributeData"/>

    <!-- Plugin on full reindex to export additional data (source fields) to Gally -->
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext">
        <plugin name="gallyProductIndexerPlugin" type="Gally\ElasticsuiteBridge\Plugin\Product\IndexPlugin" sortOrder="10"/>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Category\Indexer\Fulltext">
        <plugin name="gallyCategoryIndexerPlugin" type="Gally\ElasticsuiteBridge\Plugin\Category\IndexPlugin" sortOrder="10"/>
    </type>
</config>
