<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preferences for Index Operations -->
    <!-- Will be used to hook on createIndex, refreshIndex, deleteIndex, bulk, etc... to make actions on Gally backend -->
    <type name="Smile\ElasticsuiteCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexOperation" xsi:type="object">Gally\ElasticsuiteBridge\Index\IndexOperation</argument>
        </arguments>
    </type>

    <!-- We will create "catalogs" and "localizedCatalogs" according to index dimensions -->
    <virtualType name="catalogCategorySearchIndexHandler" type="Smile\ElasticsuiteCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexName" xsi:type="string">catalog_category</argument>
            <argument name="typeName" xsi:type="string">category</argument>
        </arguments>
    </virtualType>

    <virtualType name="catalogProductSearchIndexHandler" type="Smile\ElasticsuiteCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexName" xsi:type="string">catalog_product</argument>
            <argument name="typeName" xsi:type="string">product</argument>
        </arguments>
    </virtualType>

    <!-- Attribute Helper preferences to deal with new data structure -->
    <preference for="Smile\ElasticsuiteCatalog\Helper\ProductAttribute"
                type="Gally\ElasticsuiteBridge\Helper\ProductAttribute"/>

    <preference for="Smile\ElasticsuiteCatalog\Helper\CategoryAttribute"
                type="Gally\ElasticsuiteBridge\Helper\CategoryAttribute"/>

    <virtualType name="productAttributeHelper" type="Gally\ElasticsuiteBridge\Helper\AbstractAttribute">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Attribute\CollectionFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="categoryAttributeHelper" type="Gally\ElasticsuiteBridge\Helper\AbstractAttribute">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Category\Attribute\CollectionFactory</argument>
        </arguments>
    </virtualType>

    <type name="Gally\ElasticsuiteBridge\Helper\ProductAttribute">
        <arguments>
            <argument name="attributeHelper" xsi:type="object">productAttributeHelper</argument>
        </arguments>
    </type>

    <type name="Gally\ElasticsuiteBridge\Helper\CategoryAttribute">
        <arguments>
            <argument name="attributeHelper" xsi:type="object">categoryAttributeHelper</argument>
        </arguments>
    </type>
    <!-- End of Attribute Helper -->

    <!-- Datasource preferences, because data structure has to be different for Gally -->
    <preference for="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\AttributeData"
                type="Gally\ElasticsuiteBridge\Model\Product\Indexer\Fulltext\Datasource\AttributeData"/>

    <!-- make some category attributes behave like pure boolean -->
    <type name="Gally\ElasticsuiteBridge\Plugin\Category\Indexer\Fulltext\Datasource\BooleanFakerAttributeDataPlugin">
        <arguments>
            <argument name="forceBooleanAttributes" xsi:type="array">
                <item name="is_active" xsi:type="string">is_active</item>
                <item name="is_displayed_in_autocomplete" xsi:type="string">is_displayed_in_autocomplete</item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\PriceData">
        <plugin name="rename_customer_group" type="Gally\ElasticsuiteBridge\Plugin\Product\Indexer\Fulltext\Datasource\PriceDataPlugin" sortOrder="10"/>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\CategoryData">
        <plugin name="rename_category_data" type="Gally\ElasticsuiteBridge\Plugin\Product\Indexer\Fulltext\Datasource\CategoryDataPlugin" sortOrder="10"/>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Category\Indexer\Fulltext\Datasource\AttributeData">
        <plugin name="export_category_data" type="Gally\ElasticsuiteBridge\Plugin\Category\Indexer\Fulltext\Datasource\AttributeDataPlugin" sortOrder="10"/>
    </type>

    <!-- Plugin on full reindex to export additional data (source fields) to Gally -->
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext">
        <plugin name="gallyProductIndexerPlugin" type="Gally\ElasticsuiteBridge\Plugin\Product\IndexPlugin" sortOrder="10"/>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Category\Indexer\Fulltext">
        <plugin name="gallyCategoryIndexerPlugin" type="Gally\ElasticsuiteBridge\Plugin\Category\IndexPlugin" sortOrder="10"/>
    </type>
</config>
